<!DOCTYPE html>
<html>

<head>
    <title>Invitation to {{projectName}}</title>
</head>

<body>
    <p>Dear {{name}},</p>
    <p>You have been invited to {{projectName}}. Please click on the link below to login:</p>
    <a href="{{verificationUrl}}">Login</a>
    <p>If you did not request this, please ignore this email.</p>
    <p>Best regards,</p>
    <p>{{projectName}} Team</p>
</body>

</html>